codigo/__pycache__/game.cpython-311.pyc
codigo/__pycache__/menu.cpython-311.pyc
codigo/__pycache__/nave.cpython-311.pyc
codigo/__pycache__/obstaculo.cpython-311.pyc
codigo/__pycache__/obstaculo.cpython-311.pyc
codigo/__pycache__/nave.cpython-311.pyc
codigo/__pycache__/menu.cpython-311.pyc
