* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f7f7f7, #e0e0e0);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom, #333, #222);
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #111;
}

header h1 {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

section {
    margin: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #fff, #f7f7f7);
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: box-shadow 0.3s, background 0.3s;
}

section:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #f7f7f7, #fff);
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    color: #333;
}

ul {
    list-style: none;
}

li {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

img {
    display: inline-block; 
    max-width: 45%; 
    height: auto;
    border-radius: 15px;
}

ol {
    list-style: decimal inside;
    margin-left: 20px;
}

footer {
    text-align: center;
    background: linear-gradient(to bottom, #333, #222);
    padding: 15px;
    color: #fff;
    border-top: 2px solid #111;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

section img {
    margin: 30px 110px;
}

a img {
    max-width: 60px;
    height: auto;
    margin-right: 10px; 
}













